        body{
            background-color: #cdcdcd;
        }
        a {
            display: flex;
            align-items: center;
            gap: 6px;
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
            /* background-color: #f6e631; */
            color: white;
            padding: 10px 1.5vw;
            font-weight: bold;

            /* border-radius: 5px; */
            /* text-align: center; */
            /* width: 12%; */
        }

        #login {
            background-color: white;
            color: #047bd6;
            padding: 10px 1.5vw;



        }

        .top_section {
            background-color: #047bd6;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 5px;
            margin-bottom: 0%;
            padding: 5px;
            /* flex-wrap: wrap; */
            /* width: 100%; */
        }

        .navbar {

            display: flex;
            gap: 2vw;
            font-size: 15px;
            flex-shrink: 1;
            min-width: 0;

        }

        .nav_logos {
            width: 15px;
            margin: auto;
        }

        .logos {
            height: 30px;

        }


        .search {
            display: flex;
            gap: px;
            align-items: center;
            font-size: 15px;
            z-index: 1;
        }

        #searchBar {
            width: 30vw;
            height: 30px;
            /* border-radius: 5px; */
            padding: 5px 1.5vw;

        }

        #section1 {
            margin: 5px;
            margin-top: 0%;
            display: flex;
            background-color: white;
            justify-content: center;
            overflow: auto;

        }

        .category{
            width: 100px;
            height: 120px;
            border: 1px solid black;
            border-right: none;
            flex-shrink: 0;
            
        }

        .category:last-child{
            border-right: 1px solid black;
        }


        #section2 {
            display: flex;
            margin:10px auto;
            gap: 10px;
            max-width: 90%;
        }

        .Items_1 {
            display: flex;
            /* gap: 5px; */
            overflow: auto;
            /* flex-wrap: nowrap; */
            /* max-width: 80%; */
            /* visibility: hidden; */
            flex: 1 1 80%;
            min-width: 0;
        }

        .ads {
            background-color: salmon;
            border: 2px solid black;
            border-radius: 5px;
            height: 300px;
            width: 280px;
            flex-shrink: 0;
        }

        #section3 {
            display: flex;
            max-width: 90%;
            /* gap: 5px; */
            /* margin-top: 10px; */
            margin: 10px auto;
            overflow: auto;
        }

        .cards {
            background-color: white;
            height: 300px;
            border: 2px solid green;
            border-right: none;
            border-radius: 5px;
            width: 300px;
            flex-shrink: 0;

        }

        .cards:last-child {
            border-right: 2px solid green;
        }

        @media (max-width : 950px) {
            
            #section1 {
                justify-content: space-around;
            }
        }

        @media (max-width : 600px) {

            .top_section {
                flex-direction: column;
                gap: 5px;
                justify-content: center;

            }

            .navbar {
                margin: auto;
                width: fit-content;
            }



            a {
                padding: 10px 3vw;
            }

            #section2 {
                flex-direction: column;
                gap: 0;
                flex-basis: 90%;
            }

            .cards {
                width: 200px;
                height: 200px;

            }

            .ads {
                height: 200px;
                width: 200px;
                margin: auto;
            }

            #section3 {
                margin: 10px auto;

            }
        }