        body {
            background-color: rgb(231, 231, 231);
        }

        a {
            display: flex;
            align-items: center;
            gap: 6px;
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
            /* background-color: #f6e631; */
            color: white;
            padding: 10px 1.5vw;
            font-weight: bold;

            /* border-radius: 5px; */
            /* text-align: center; */
            /* width: 12%; */
        }

        #login {
            background-color: white;
            color: #047bd6;
            padding: 10px 1.5vw;



        }

        .top_section {
            background-color: #047bd6;
            display: flex;
            justify-content: space-around;
            align-items: center;
            /* margin: 5px; */
            margin-bottom: 0%;
            padding: 5px;
            /* flex-wrap: wrap; */
            /* width: 100%; */
        }

        .navbar {

            display: flex;
            gap: 2vw;
            font-size: 15px;
            flex-shrink: 1;
            min-width: 0;

        }

        .nav_logos {
            width: 15px;
            margin: auto;
        }

        .logos {
            height: 30px;

        }


        .search {
            display: flex;
            gap: px;
            align-items: center;
            font-size: 15px;
            z-index: 1;
        }

        #searchBar {
            width: 30vw;
            height: 30px;
            /* border-radius: 5px; */
            padding: 5px 1.5vw;

        }

        #section1 {
            /* margin: 5px; */
            margin-top: 0%;
            display: flex;
            gap: 40px;
            background-color: white;
            justify-content: center;
            overflow: auto;
            /* scrollbar-width: none; */

        }

        .category {
            width: 100px;
            height: 120px;
            padding: 10px;
            /* border: 1px solid black; */
            /* border-right: none; */
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

        }

        .category img {
            width: 70px;

        }

        .category p {
            font-family: Arial, Helvetica, sans-serif;
            font-size: small;

        }

        /* .category:last-child{
            border-right: 1px solid black;
        } */


        #section2 {
            display: flex;
            margin: 10px auto;
            gap: 10px;
            max-width: 90%;
        }

        .container2 {
            display: flex;
            flex-direction: column;
            overflow: auto;
            flex: 1;
            /* height: 400px; */
            min-width: 0;
        }

        .deals {
            /* flex-basis: 80%; */
            /* align-self: flex-start; */
            height: 70px;
            background-color: rgb(255, 255, 255);
            border-bottom: 2px solid #cdcdcd;
            overflow: hidden;
            /* flex-wrap: nowrap; */
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 30px;

        }

        .deals p {
            margin: 0;
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold
        }

        .Items_1 {
            display: flex;
            /* gap: 5px; */
            overflow-x: auto;
            /* flex-wrap: nowrap; */
            /* max-width: 80%; */
            /* visibility: hidden; */
            flex: 1 1 80%;
            min-width: 0;

            /* align-self: flex-end; */
        }



        .ads {
            background-color: white;
            /* border: 2px solid black; */
            /* border-radius: 5px; */
            height: 390px;
            width: 280px;
            flex-shrink: 0;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .ads img {
            width: 95%;

        }

        #section3 {
            display: flex;
            max-width: 90%;
            /* gap: 5px; */
            /* margin-top: 10px; */
            margin: 10px auto;
            overflow: auto;
        }

        .Items_2 {
            display: flex;
            overflow: auto;
            min-width: 0;
        }

        .cards {
            background-color: white;
            height: 320px;
            /* border: 2px solid green; */
            border-right: 2px solid #cdcdcd;
            /* border-radius: 5px; */
            width: 300px;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 10px;

        }

        .cards:last-child {
            border-right: none;
        }

        .cards img {
            width: 58%;

        }

        .titles {
            font-size: 15px;
        }

        .discounts {
            color: green;
            font-size: 16px;
        }

        .descriptions {
            color: grey;
            font-size: 13px;
        }

        @media (max-width : 950px) {

            #section1 {
                justify-content: space-around;
            }
        }

        @media (max-width : 600px) {

            .top_section {
                padding: 12px;
                flex-direction: column;
                gap: 7px;
                justify-content: center;
                align-items: center;

            }

            .search {
                justify-content: space-between;
            }

            .navbar {
                margin: auto;
                /* margin-bottom: 0; */
                /* width: fit-content; */
                padding: 0;
            }



            a {
                padding: 10px 3vw;
                /* margin: 0; */
            }

            #section2 {
                flex-direction: column;
                gap: 10px;
                flex-basis: 90%;
            }

            .cards {
                width: 200px;
                height: 220px;

            }

            .cards img {
                width: 55%;
            }

            .titles {
                font-size: 10px;
            }

            .discounts {
                color: green;
                font-size: 10px;
            }

            .descriptions {
                color: grey;
                font-size: 9px;
            }

            .ads {
                display: none;
                height: 200px;
                width: 200px;
                margin: auto;
            }

            #section3 {
                margin: 10px auto;

            }
        }